# local backups
backups/

# node
webapp/node_modules/

# next build output
webapp/.next/
webapp/out/

# logs
*.log
webapp/npm-debug.log*

# macOS
.DS_Store

# prevent Next.js conflict
webapp/src/app/favicon.ico
